<form [formGroup]="activateAccountForm" (ngSubmit)="activate()">
  <mat-card-content>
    <p>En länk för att aktivera ditt konto har skickats till din e-postadress.</p>

    <p>Klicka på länken för att logga in eller ange aktiveringskoden nedan.</p>

    <mat-form-field class="full-width">
      <input matInput type="text" formControlName="code" placeholder="Aktiveringskod">

      <mat-error *ngIf="code.touched && code.invalid">
        <div *ngIf="code.errors?.required">Ange aktiveringskod</div>

        <div *ngIf="code.errors?.invalid">Aktiveringskoden är ogiltig</div>
      </mat-error>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button type="submit" class="float-right" [disabled]="activateAccountForm.invalid || loading">Aktivera konto</button>
  </mat-card-actions>
</form>
