<mat-sidenav-container>
  <mat-sidenav [mode]="mode" [opened]="opened">
    <mat-list>
      <mat-list-item>

      </mat-list-item>
    </mat-list>
    <mat-list>
      <mat-list-item [class.active]="active == 'dashboard'" routerLink="/dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>

        <h4 mat-line>Överblick</h4>
      </mat-list-item>

      <mat-list-item [class.active]="active == 'users'" routerLink="/users">
        <mat-icon mat-list-icon>account_box</mat-icon>

        <h4 mat-line>Användare</h4>
      </mat-list-item>

      <mat-list-item [class.active]="active == 'schedule'">
        <mat-icon mat-list-icon>event</mat-icon>

        <h4 mat-line>Schema</h4>
      </mat-list-item>

      <mat-divider></mat-divider>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
