<div id="page">
  <mat-toolbar class="mat-elevation-z3">
    <span class="brand">ELMA</span>

    <span class="spacer"></span>

    <button mat-button routerLink="/app">App</button>

    <button mat-button routerLink="/register">Skapa konto</button>

    <button mat-button routerLink="/login">Logga in</button>
  </mat-toolbar>

  <section id="jumbotron" class="parallax"></section>

  <section id="info">
    <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti sed accusamus earum nisi quidem numquam ipsum, eos quasi facere cupiditate autem voluptates sapiente labore debitis alias aut minima dolorum.</p>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis fugit consequuntur obcaecati ad maxime modi placeat, error eaque quos illum at ullam consequatur id esse recusandae necessitatibus aliquam eligendi aperiam?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, id. Exercitationem laboriosam enim nostrum debitis sint dolor voluptatem animi in. Omnis vero reiciendis obcaecati nostrum veniam molestias deserunt totam soluta.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius amet hic deserunt quis nam. Neque rerum corporis quam perspiciatis excepturi laudantium! Architecto fugiat iure nesciunt, modi nostrum quo consectetur laudantium.</p>

      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque modi tempora quas ab aspernatur vel possimus repudiandae alias, officiis numquam earum sit atque minus dolorum labore officia nostrum hic molestias.</p>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam enim exercitationem sint cumque, ipsam totam praesentium ab commodi similique blanditiis quam repudiandae rerum eligendi omnis quos, repellendus eum! Sequi.</p>

      <p>Sequi, saepe incidunt omnis expedita id, esse ut est natus illo voluptas quibusdam nostrum aperiam tenetur quos nesciunt suscipit. Enim praesentium quidem aut commodi voluptas, ducimus eaque cumque inventore expedita.</p>

      <p>Impedit, dolore recusandae provident aspernatur eos fugit in at. Possimus commodi libero voluptatibus consequuntur, voluptas quasi non optio. Quisquam optio quia facilis doloribus, quaerat odio! Alias totam ad impedit illo.</p>

      <p>Repellat atque perferendis ullam, autem iusto, omnis cupiditate sint magnam, quibusdam quas illum quo aliquam at ab culpa assumenda totam. Minus odio commodi minima suscipit velit aut iusto repellendus facilis.</p>

      <p>Dolores quas vel commodi, maiores cum aliquid eaque ullam libero voluptatum vitae dolore itaque inventore rerum neque vero magnam, ea repudiandae. Omnis possimus saepe voluptas, exercitationem quia minus dolore ut.</p>
    </div>
  </section>
</div>
