#page {
  padding-top: 56px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
}

.mat-toolbar .spacer {
  flex: 1 1 auto;
}

#jumbotron {
  background: url("/assets/people.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

section .container {
  padding: 50px;
}

@media (min-width: 600px) {
  #page {
    padding-top: 64px;
  }
}
